# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
/build
/CMakeFiles
/CMakeCache.txt
/*.cmake

# Doxygen output
/docs/*

# MacOs
.DS_Store

# Visual Studio Code
.vscode

# onnx files
*.onnx

# Maybe simply use *.bin
model_weights.bin 

#venv
venv/
.venv/